@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div[aria-label="Map"] div[role="dialog"] {
  color: black;
}

h1 {
  @apply pt-4 text-xl;
}

h2 {
  @apply pt-4 text-xl;
}

.directions {
  @apply absolute w-80 right-0 top-0 p-4 pt-0 m-4 bg-slate-900 text-white rounded;
}

.btn-route {
  @apply text-yellow-100;
}
